# Install with: python -m pip install -r requirements.txt
aiohttp==3.13.2
beautifulsoup4==4.14.3
fastapi==0.124.0
huggingface-hub==0.36.0
jieba==0.42.1
lancedb==0.25.3
langchain==0.3.27
langchain-community==0.4.1
langchain-experimental==0.3.4
langchain-openai==0.3.35
langchain-pymupdf4llm==0.4.1
langgraph==1.0.1
numpy==2.3.5
onnxruntime==1.19.2
opencv-python==4.11.0.86
openpyxl==3.1.5
pandas==2.3.3
pdfplumber==0.11.8
peft==0.18.0
pillow==12.0.0
pyclipper==1.4.0
pymupdf4llm==0.0.27
PySide6==6.10.0
PyMuPDF==1.26.6
pypdf==6.4.0
python-docx==1.2.0
python-dotenv==1.2.1
python-multipart==0.0.20
requests==2.32.5
scikit-learn==1.7.2
sentence-transformers==5.2.0
shapely==2.1.2
spire-doc==13.12.0
sqlmodel==0.0.27
torch==2.9.1
transformers==4.57.3
uvicorn==0.38.0
websockets==15.0.1
xlrd==2.0.2
